*{
    background-color:khaki;
}
.Toofani{
    background-color:cadetblue;
}
.BioData{
    border: 7px solid rebeccapurple;
    background-color :yellow
}
#name{
    color:darkorchid;
}
.info{
    background-color:rgb(213, 24, 118);
}