*{
    font-family: sans-serif;
}
body{
    width:70%;
    margin:auto;
    border:0.5px solid rgb(208, 206, 206, 0.963);
    border-radius:25px;
    
}
.nav{
    margin-top:5px;
    border: 2px solid rgb(18, 51, 185);
    width: 100%;
    height: 68px;
    color:white;
    border-radius:20px;
    background: linear-gradient(to right, #0f2df1 0%, #03bef2 100%);
}
.text{
    font-style:oblique;
    float: left;
    /* border:2px solid red; */
    line-height: 0.7;
    margin-top:10px;
    margin-left:15px
}

.text h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

.button{
    border: .5px solid rgb(97, 77, 243);
    float: right;
    margin-right: 20px;
    margin-top:19px;
    font-weight: bold;
    background-color: #0290b8;
    padding: 5px;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.text p{
    font-size: 14px;
}
.main
{
    /* border: 2px solid black; */
    width: 100%;
    height: 400px;
    /* margin-top: 20px; */
}
.content{
   border:0.5px solid rgb(208, 206, 206, 0.963);
    float: left;
    width: 20%;
    height:70%;
    margin-top:30px;
    margin-left: -232px;
    padding: 10px;
    line-height: 20px;
    border-radius:20px;
    background-color:rgb(231, 235, 249);
}
.item{
    float:right;
    /* border: 2px solid rgb(135, 0, 0); */
    width:70%;
    height: 100%;
}

.child1{
    padding:5px;
    border:0.5px solid rgb(208, 206, 206, 0.963);
    width: 95%;
    border-radius:20px;
    background-color:rgb(231, 235, 249);
    margin-top:12px;
}
.child1 p{
    color:grey;
    margin-top: 3px;
    font-size: 12px;
}
.child1 h3{
    margin-bottom: 12px;
}

.child2{
    /* border:2px solid rgb(14, 212, 202); */
    width: 100%;
    margin-top: 20px;
    /* padding:5px; */
}

.gc{
    border:0.5px solid rgb(208, 206, 206, 0.963);
    width:32%;
    float: left;
    margin: 2px;
    border-radius: 3px;
    border-radius:10px;
    margin-top:20px;
    background-color:rgb(231, 235, 249);
}
.gc p{
    font-size: 10px;
    color:grey;
    margin-top: 7px;
    margin-left:10px;
    
}
.gc h5{
    margin: -8px 10px;
    margin-bottom: 15px;
}

.fix{
    clear:both;
    
}
.img{
    width:72px;
    height:72px;
    float:left;
    /* border:2px solid black; */
    border-radius:50%;
    background:linear-gradient(to right, #0f2df1 0%, #03bef2 100%);
    margin-top:50px;
    margin-left:35px;
}
.textarea{
    float:right;
    width:70%;
    height:120px;
    border:0.5px solid #c3bbbb;   
    padding:0px;
    border-radius:3px;
    border-radius:30px;
    padding-bottom:0px;
    padding-top:20px;
    margin-top:20px;
    margin-right:20px;
    background-color:rgb(231, 235, 249);
}
.textarea p{
    font-size:9px;
    color:grey;
}