.container{
    border: 2px solid black;
    height:400px;
    width:800px;
    display:flex;
    /* flex-direction:row-reverse; */
    /* flex-direction:column-reverse; */
    /* flex-direction:row; */
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:10%;
}
.class{
    border:2px solid black;
    width:100px;
    height:100px;
}
.class7{
    /* order:-1; */
}
.class2{
    /* order:1; */
}